<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <div style="width: 100%;height: 100vh;display: flex;justify-content: center;align-items: center;">
    <button class="btn btn-primary p-2 m-2"><a style="text-decoration:none; color: white;" href="{% url 'facebook' %}">Facebook</a></button>
    <button class="btn btn-primary p-2 m-2"><a style="text-decoration:none; color: white;" href="{% url 'delete_facebook' %}">Facebook Delete</a></button>
    <button class="btn btn-primary p-2 m-2"><a style="text-decoration:none; color: white;" href="{% url 'linkedin' %}">LinkedIn</a></button>
    <button class="btn btn-primary p-2 m-2"><a style="text-decoration:none; color: white;" href="{% url 'connect' %}">LinkedIn Connect</a></button>
    <button class="btn btn-primary p-2 m-2"><a style="text-decoration:none; color: white;" href="{% url 'yellow' %}">Yellow</a></button>
  </div>
</body>
</html>